<mat-card class="example-card mat-elevation-z6 animated fadeIn">
  <mat-card-header>
    <mat-card-title>Payment Members</mat-card-title>
  </mat-card-header>
  <mat-card-content class="payments">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let member of paymentMembers">
        {{ member.firstName + ' ' + member.lastName }}
        <div style="position: absolute; right: 0; cursor: pointer">
          <mat-icon color="warn" (click)="remove(member)">remove</mat-icon>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
