<mat-card class="example-card mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>Members</mat-card-title>
  </mat-card-header>
  <mat-card-content class="users">
    <mat-list role="list" *ngIf="members.length > 0; else noMembers">
      <mat-list-item role="listitem" class="header">
        <div class="first-name">First name</div>
        <div class="last-name">Last name</div>
        <div class="date-joined">Date joined</div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item role="listitem"
                     *ngFor="let member of members">
        <div class="first-name">{{ member.firstName }}</div>
        <div class="last-name">{{ member.lastName }}</div>
        <div class="date-joined">{{ member.dateJoined }}</div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <ng-template #noMembers>
      <div class="nop">
        <p>No members created yet.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
