<mat-card class="example-card mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content class="users">
    <mat-list role="list" *ngIf="users.length > 0; else noUsers">
      <mat-list-item role="listitem" class="header">
        <div class="first-name">First name</div>
        <div class="last-name">Last name</div>
        <div class="date-joined">Date joined</div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item role="listitem"
                     *ngFor="let user of users">
        <div class="first-name">{{ user.firstName }}</div>
        <div class="last-name">{{ user.lastName }}</div>
        <div class="date-joined">{{ user.dateJoined }}</div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <ng-template #noUsers>
      <div class="nop">
        <p>No users created yet.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
