<nav class="nav-header" *ngIf="!loading">
  <div class="nav">
    <a mat-button [routerLink]="['/home']">Spot</a>
    <a mat-button [routerLink]="['/users']" *ngIf="user">Users</a>
    <a mat-button [routerLink]="['/pay']" *ngIf="user">Pay</a>
  </div>
  <div class="nav">
    <a mat-button *ngIf="user; else login" [matMenuTriggerFor]="menu">
      {{ user.displayName }} <mat-icon>arrow_drop_down</mat-icon></a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutGoogle()">Logout</button>
    </mat-menu>
    <ng-template #login>
      <a mat-button [routerLink]="['/login']">Login</a>
    </ng-template>
  </div>
</nav>
