.payment-container {
  display: flex;
  padding: 16px;
}

.create-form {
  flex: 1;
  padding-right: 16px;
}

.payment-list {
  flex: 2;
}

.payment-members {
  flex: 1;
  padding-right: 16px;
}

.payment-view {
  padding: 16px;
}
