<div class="login-container animated rubberBand" *ngIf="!loggingIn">
  <h3 [ngClass]="{'animated zoomOut slow': hovered}"
      style="color: #3f51b5; margin-right: 5px; cursor: pointer">login</h3>
  <button [ngClass]="{'spread animated zoomOutLeft slow': hovered}" mat-fab color="warn" class="sub-3"></button>
  <button [ngClass]="{'spread animated zoomOutUp slow': hovered}" mat-fab color="warn" class="sub-1"></button>
  <button [ngClass]="{'spread animated zoomOutDown slow': hovered}" mat-fab color="warn" class="sub-2">
    <mat-icon>lock</mat-icon>
  </button>
  <button mat-fab color="warn"
          class="google-button animated infinite pulse"
          (click)="loginGoogle()"
          (mouseover)="hovered = true;" (mouseleave)="hovered = false;">google</button>
  <button mat-fab [ngClass]="{'spread animated zoomOutRight slow': hovered}" color="warn" class="sub-1-1">
    <mat-icon>lock_open</mat-icon>
  </button>
</div>
<app-spinner [showSpinner]="loggingIn"></app-spinner>
