.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.google-button {
  height: 150px;
  width: 150px;
  font-size: 20px;
  background-color: #db3236;
}

.sub-2 {
  height: 100px;
  width: 100px;
  background-color: #f4c20d;
}

.sub-1 {
  height: 50px;
  width: 50px;
  background-color: #4885ed;
}

.sub-1-1 {
  height: 60px;
  width: 60px;
  background-color: #4885ed;
}

.sub-3 {
  height: 30px;
  width: 30px;
  background-color: #3cba54;
}
