<mat-card class="example-card mat-elevation-z6 animated fadeInRight">
  <mat-card-header>
    <mat-card-title>Payments</mat-card-title>
  </mat-card-header>
  <mat-card-content class="payments">
    <mat-list role="list" *ngIf="payments.length > 0; else noPayment">
      <mat-list-item role="listitem" class="header">
        <div class="month">Month</div>
        <div class="total">Total</div>
        <div class="resolve">Payment status</div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item role="listitem"
                     *ngFor="let payment of payments"
                     [matTooltip]="changeTooltipMsg(payment)"
                     matTooltipPosition="above"
                     (click)="toPaymentView(payment)">
        <div class="month">{{ payment.month.viewValue }}</div>
        <div class="total">Php. {{ payment.total }}</div>
        <div class="resolve">{{ payment.resolve ? 'Fully paid': 'Not paid' }}</div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <ng-template #noPayment>
      <div class="nop">
        <p>No payment created yet.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
