mat-list {
  width: 100%;
}

.payments {
  display: flex;
}

button {
  cursor: pointer;
}

.header {
  font-size: 16px;
  font-weight: bold;
  color: #3f51b5;
}

.month {
  flex: 1;
}

.total {
  flex: 1;
  text-align: left;
}

.resolve {
  flex: 1;
  text-align: left;
}

.nop {
  flex: 1;
  text-align: center;
  color: rgba(0,0,0,.54);
}

.card-action {
  text-align: left;
  margin-right: 3px;
}

