.component-header {
  display: flex;
  background: #3f51b5;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding: 24px 8px;
  font-size: 20px;
  color: #ffffff;
}

.mat-icon {
  color: #ffffff;
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 56px;
}

.sidenav-toggle {
  padding: 0;
  margin: 8px;
  width: 64px;
}

mat-list {
  width: 100%;
}

.payees {
  display: flex;
}

.header {
  font-weight: bold;
  color: #3f51b5;
}

.full-name {
  flex: 1;
}

.amount {
  flex: 1;
  text-align: left;
}

.paid {
  flex: 1;
  text-align: left;
}

.card-action {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 5px !important;
}

.action-button {
  font-size: 16px;
  margin-bottom: 10px;
}

.payment-view {
  padding: 16px;
}
