<mat-card class="example-card mat-elevation-z6 animated fadeInUp">
  <mat-card-header>
    <mat-card-title>Payment for the month of {{ monthOf }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="payees">
    <mat-list role="list">
      <mat-list-item role="listitem" class="header">
        <div class="full-name">Full Name</div>
        <div class="amount">Amount</div>
        <div class="paid">Paid</div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item role="listitem" *ngFor="let payee of payees">
        <div class="full-name">{{ payee.member.firstName + ' ' + payee.member.lastName }}</div>
        <div class="amount">Php. {{ payee.amount }}</div>
        <div class="paid">
          <mat-checkbox (change)="onChkChange($event, payee.member['id'])" [checked]="payee.paid">Check me if paid!</mat-checkbox>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="card-action">
    <a class="action-button" mat-raised-button color="warn" (click)="sharePaymentView()">Share</a>
    <a class="action-button" mat-raised-button color="primary" (click)="toPayView()">Create another payment</a>
  </mat-card-actions>
</mat-card>
