/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-home {
  overflow-y: auto;
  height: 100%;
}

app-login {
  height: 100%;
}

mat-card-title {
  color: rgba(0,0,0,.54);
}
