<mat-card class="card-container mat-elevation-z8 animated fadeInLeft">
  <mat-card-header>
    <mat-card-title>Create Payment</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
  <mat-form-field>
    <mat-select placeholder="Month" [formControl]="month" required>
      <mat-option *ngFor="let monthVal of months" [value]="monthVal.value">
        {{ monthVal.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="month.hasError('required')">
      Month is <strong>required</strong>
    </mat-error>
  </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Total" [formControl]="total" required>
      <mat-error *ngIf="total.hasError('required')">
        Total is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Members" [formControl]="memberOpt">
        <mat-option *ngFor="let member of members"
                    [value]="member['id']"
                    (click)="onChange(member)">
          {{ member.firstName + ' ' + member.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="memberOpt.hasError('required')">
        Member is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions class="card-action">
    <button mat-raised-button color="primary" (click)="onCreateForm()"
            [disabled]="!createForm.valid || buttonEnabled">Create</button>
  </mat-card-actions>
</mat-card>
