.card-content {
  display: flex;
  flex-direction: column;
}

.card-action {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px !important;
}

.mat-input-element {
  color: black;
}
